body{
    background-image: url('../img/bg\ contacto.jpg');

}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 40%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 237, 229, 0.6);
    padding: 20px 0;
}

input{
    border: none;
    width: 70%;
    margin: 10px auto ;
    border-radius: 5px;
}

textarea{
    width: 70%;
}

.btn{
    width: inherit;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 10px;
}

form div{
    display: flex;
    align-items: center;
}

form div input{
   margin: 0;
   padding: 0;
   width: 5%;
}

span{
    margin-right: 10px;
}

label{
    width:80%;
}